<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
            <p v-for="(post, index) in posts">
              <button @click="like(index)">Like</button>
              <button @click="dislike(index)">Dislike</button>
                <button @click="removePost(index)">Delete</button>
                {{ post }}
                ||
                <span>  {{ date }} </span> 
                ||
                <span v-for="(like, index) in likes">
                    Likes : {{ like }}
                </span>
            </p>
        <label for="">Add Post</label>
        <input type="text" v-model="newPost">
        <button @click="addPost">Add</button>
    </div>
    
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>